/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* UTILITY */
img {
    width: 100%;
}

.container {
    width: 70%;
    margin: 0 auto;
    height: 100%;
}

/* DEBUG */
.wrapper {
    border: 1px dotted rgb(0, 0, 0);
    display: flex;    
    
    /* debug ??*/
    height: 100%;
}

.wrapper > * {
    border: 2px dashed black;
}

/* HEADER */
header {
    height: 80px;

    /* debug */
    background: #add8e6;
}

header .wrapper {
    align-items: center;
}

header .wrapper > div {
    padding: 8px;
    background-color: #daa520;
}

.logo, 
.login {
    width: 20%;
}

.logo {
    text-align: start;
}

.login {
    text-align: end;
}

.nav {
    width: 60%;
    text-align: center;
}

header .nav-link {
    margin: 0 8px;
    text-decoration: none;
}

/* MAIN */
main > section {
    height: 600px;
    padding: 60px 0;
}

.section-cnt {
    height: 100%;
}

.section-img {
    width: 60%;

    /* debug */
    background: #1e90ff;
}

.section-txt {
    width: 40%;

    /* debug */
    background: #ffc0cb;
}

/* sezione 1 */
#section-one {
    height: 500px;

    /*debug */
    background-color: #00008b;
    border-bottom: 3px solid #abd7e6;
}

#section-one .section-cnt {
    width: 80%;
    margin: 0 auto;

    /* debug */
    border: 2px dashed black;
    background-color: #ee82ee;
}

/* sezioni pari */
.section-even {

    /* debug */
    background: #ffffff;
}

/* sezioni dispari */
.section-odd {

    /* debug */
    background-color: #d3d3d3;
}

.section-odd .wrapper {
    flex-direction: row-reverse;
}

/* sezione 5 - ultima sezione */
#section-last {
    height: 700px;
}

#section-last .section-cnt {

    /* debug */
    border: 2px dashed black;
    background-color: #228b22;
}

/* FOOTER */
footer {
    /* debug */
    background: #23272a;
}

/* sezione principale del footer */
#footer-top {
    height: 610px;
    border-bottom: 2px solid #c6c6c6;
    padding: 8px 0 24px;
}

footer .footer-info {
    width: 30%;

    /* debug */
    background: #f08080;
}

footer .footer-bars {
    width: 70%;
}

.footer-bars > .footer-nav {
    width: 25%;
    border: 2px dashed white;

    /* debug */
    background: #20b2aa;
}

/* sezione secondaria del footer */
#footer-bottom {
    height: 80px;
    padding-top: 20px;
}

#footer-bottom .wrapper {
    justify-content: space-between;
    align-items: center;

    /* debug */
    background: #7fffd4;
}

#footer-bottom .footer-item {
    padding: 4px 8px;

    /* debug */
    background: #ffb6c1;

}