/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */
img {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

/* DEBUG */
.wrapper {
    border: 1px dotted rgb(0, 0, 0);
    display: flex;    
    
    /* debug ??*/
    height: 100%;
}

.wrapper > * {
    border: 2px dashed black;
    display: flex;
}

/* HEADER */
header {
    height: 80px;

    /* debug */
    background: #add8e6;
}

header .wrapper {
    align-items: center;
}

header .wrapper > div {
    padding: 8px;
    background-color: #daa520;
}

.logo, 
.login {
    width: 20%;
}

.logo {
    text-align: start;
}

.login {
    text-align: end;
}

.nav {
    width: 60%;
    text-align: center;
}

/* MAIN */
main > section {
    height: 700px;
}

/* sezione 1 */
.section-one {
    height: 500px;

    /*debug */
    background-color: #00008b;
    border-bottom: 3px solid #abd7e6;
}

.section-one .wrapper {
    justify-content: center;
    align-items: center;
}

.section-one .wrapper > div {
    width: 80%;
    height: 70%;

    /* debug */
    border: 2px dashed black;
    background-color: #ee82ee;
}